<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      About The Author
    </ion-card-header>
    <ion-card-content>
      <p>Name:</p><p>ionic2ebook</p>
      <br />
      <p>Contact & Feedbacks:</p><p> <a href="mailto:anonymous@gmail.com?Subject=Feedback" data-rel="external">anonymous@gmail.com</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Copyright
    </ion-card-header>
    <ion-card-content>
      <p>Copyright © 2017 by Anonymous.</p>
      <p>
        All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law. For permission requests, write to the publisher at the contact above.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Disclaimer
    </ion-card-header>
    <ion-card-content>
      <p>
        Disclaimer goes here.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Privacy
    </ion-card-header>
    <ion-card-content>
      <p>
        Privacy statement goes here.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
